:root {
    --navbarFooterColor: beige;
    --navbarFooterTextColor: black;
    --hoverColor: tan;
    --articleBackgroundColor: brown;
    --bodyColor: brown;
    --navbarFooterFont: 'Courier New', Courier, monospace;
    --articleFont: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

header {
    max-width: 100%;
    background-color: var(--navbarFooterColor);
    font-size: 1.5em;
    font-family: var(--navbarFooterFont);
    font-weight: bolder;
}

header ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header ul li {
    flex: 1 1 0;
    width: 100%;
}

header a {
    text-decoration: none;
    color: var(--navbarFooterTextColor);
    padding: 10px;
    text-align: center;
    transition: background-color .3s;
}

header a:hover {
    background-color: var(--hoverColor);
}

header a:hover:not(.active) {
    background-color: var(--hoverColor);
}

.active {
    background-color: var(--hoverColor);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bodyColor);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

main div {
    padding: 5px;
    border: 2px solid tan;
    background-color: var(--articleBackgroundColor);
    text-align: center;
    font-family: var(--articleFont);
}

.article1 {
    flex: 1;
}

.article2 {
    flex: 2;
}

.article3 {
    flex: 3;
}


footer {
    max-width: 100%;
    background-color: var(--navbarFooterColor);
    font-size: 1.5em;
    font-family: var(--navbarFooterColor);
    font-weight: bolder;
    text-align: center;
    margin: 0;
    padding: 0;
}

footer p {
    padding: 10px;
}


@media screen and (max-width:768px) {
    header ul {
        display: flex;
        flex-direction: column;
    }

    header ul li {
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
    }
}